* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Anek Malayalam", sans-serif;
  color: black;
  font-size: 1.3em;
  overflow-x: hidden;
  text-align: justify;
}
#backimage > img {
  position: fixed;
  opacity: 0.05;
  top: 0px;
  left: 0px;
  z-index: -1;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
header {
  background: #ffe8a8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid #eecb6c;
  position: sticky;
  top: 0px;
  z-index: 5;
}
#titlemain {
  font-size: 40px;
  position: relative;
  top: 18px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}
#subtitle {
  position: relative;
  left: 3px;
}
#mobilenav {
  display: none;
}
.elements {
  display: none;
  background: #eecb6c;
}
#shortcut {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80vw;
  margin: 20px auto;
}
#shortcut > img {
  width: 80vw;
}
#covertitle {
  display: none;
}
#shortcut:hover #covertitle {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: #eecb6c;
  z-index: 4;
  text-align: center;
  color: white;
}
#content {
  min-width: 250px;
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
  min-height: 80vh;
  padding: 30px 0;
  overflow: visible;
}
footer {
  background: #ffe8a8;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 15px;
}
#linksy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding: 0 3vw;
  border-right: 1px dotted black;
}
#strony {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 3vw;
  border-right: 1px dotted black;
}
#strony > a:hover {
  text-decoration: underline;
}
#socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
}
i {
  font-size: 40px;
  padding: 10px;
}
i:hover {
  color: #eecb6c;
}
#linksy > a:hover {
  text-decoration: underline;
}
#end {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  background-color: #eecb6c;
  padding: 10px;
}
.navelement {
  padding: 5px 20px;
  transition: all 0.2s;
  border-right: 1px dotted black;
}
.navelement:hover {
  background: #eecb6c;
}
.navelementunveil {
  position: relative;
  display: flex;
  padding: 5px 20px;
  justify-content: center;
  transition: all 0.2s;
  border-right: 1px dotted black;
}
.navelementunveil:hover {
  cursor: pointer;
  background: #eecb6c;
}
.option:hover {
  color: white;
}
.option {
  background: #eecb6c;
  padding: 10px;
  border-bottom: 1px dotted black;
}
.navelementunveil:hover > .elements {
  display: block;
  position: absolute;
  background: #eee4dd;
  padding: 10px 10px;
  margin-top: 30px;
  width: 300%;
  padding: 0;
  text-align: center;
}
input {
  display: none;
}
@media (min-width: 1070px) {
  #title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    bottom: 10px;
    flex-wrap: wrap;
  }
  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }
  .menuimage {
    display: none;
  }
  #logo:hover {
    transform: scale(1.05);
  }
  #logo > img {
    padding: 10px;
    width: 5vw;
  }
}
@media (max-width: 1069px) {
  #titlemain {
    font-size: 10vw;
  }
  footer {
    font-size: 2.3vw;
  }
  #subtitle {
    font-size: 7vw;
    top: 1vh;
  }
  .foska {
    width: 20vw;
  }
  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin: 0px -50px;
    transform: scale(0.6);
  }
  nav {
    display: none;
  }
  .navelement {
    border: none;
    width: 100%;
  }
  .navelementunveil {
    border: none;
  }
  .menuimage {
    display: block;
    width: 10vw;
    border-radius: 10px;
  }
  .menuimage:hover {
    background: #eecb6c;
    cursor: pointer;
  }
  #pojemnik:hover #mobilenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 1;
    background: #eecb6c;
    width: 100vw;
    top: 100px;
    height: auto;
  }
  #title {
    position: relative;
    bottom: 3vw;
  }
  .navelement:hover {
    color: white;
  }
  .navelementunveil:hover {
    color: white;
  }
  .navelementunveil:hover .elements {
    position: relative;
  }
  .option {
    padding: 0;
    border: none;
  }
  .option:hover {
    text-decoration: underline;
  }
}
