#content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#content a:hover {
  text-decoration: underline;
}
#content2 {
  flex-direction: column;
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
  min-height: 80vh;
  padding: 30px 1vw;
  overflow: visible;
}
#content2 a {
  color: #bd9e4b;
}
#content2 a:hover {
  text-decoration: underline;
}
#content img {
  box-shadow: 4px 4px#bd9e4b;
}
.swiadectwo {
  font-style: italic;
  color: rgb(48, 47, 46);
  border-left: 2px solid rgb(48, 47, 46);
  padding: 10px;
  margin: 0 30px;
}
#content a {
  color: #bd9e4b;
}
p {
  margin: 20px 0;
}
h3 {
  border-bottom: 2px dotted #bd9e4b;
}
@media (max-width: 600px) {
  .pion {
    flex-direction: column;
  }
}
