#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content a:hover {
  text-decoration: underline;
}
#content img {
  box-shadow: 4px 4px#bd9e4b;
}
.swiadectwo {
  font-style: italic;
  color: rgb(48, 47, 46);
  border-left: 2px solid rgb(48, 47, 46);
  padding: 10px;
  margin: 0 30px;
}
