#content {
  display: block;
}
.swiadectwo {
  font-style: italic;
  color: rgb(48, 47, 46);
  border-left: 2px solid rgb(48, 47, 46);
  padding: 10px;
  margin: 0 30px;
}
h2 {
  border-bottom: 5px dotted #eecb6c;
  padding: 10px 0;
}
#content a:hover {
  text-decoration: underline;
}
