#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h2 {
  padding: 30px;
}
h4 {
  padding: 10px;
}
p {
  display: flex;
  flex-direction: column;
}
#content > a:hover {
  text-decoration: underline;
}
#content > a {
  color: #bd9e4b;
}
